*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}

.bk{
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 420px;
    float: left;
    margin: 75px 0px 50px 100px;
    background: #fff0b6;
    box-shadow: 0 0 15px rgb(231, 255, 142);
    border-radius: 30px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
}
.bk:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.img1{
    overflow: hidden;
}

.bk .img{
    height: 140px;
    width: 220px;
    background-size:contain;
    transition: all 0.5s ease 0s;
    opacity: 0.8;
}

.bk .img:hover{
    transform: scale(1.1);
}

.bk .txt{
    height: 510px;
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.bk .txt h1{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px #db5377;
    color: rgb(84, 209, 207);
    height: 30px;
    line-height: 30px;
}

.bk .txt p{
    font-family:Comic Sans MS;
    text-align: left;
    margin-top: 30px;
    font-size:medium;
    font-weight: 100;
    word-wrap: break-word;
    color: #000000;
}
.musicPlay{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 900px;
    float: left;
    margin: 75px 0px 50px 80px;
    background: #cbeaf6;
    box-shadow: 0 0 15px rgb(231, 255, 142);
    border-radius: 30px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
}
.musicPlay:hover{
    cursor: pointer;
    transform: scale(1.05);
}






@keyframes load{
    0%{
        background-position-y: 100px;
        opacity: 0;
    }
    100%{
        background-position-y: 0px;
        opacity: 1;
    }

}


  table {
    background: rgb(208, 239, 239);
  }
  table,
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    text-align: center;
    margin: auto;
    border: 1px solid #dedede;
    padding: 1rem;
    width: 50%;
  }
  .table {
    display: table;
    width: 50%;
  }
  .tr {
    display: table-row;
  }
  .thead {
    display: table-header-group;
  }
  .tbody {
    display: table-row-group;
  }
  .tfoot {
    display: table-footer-group;
  }
  .col {
    display: table-column;
  }
  .colgroup {
    display: table-column-group;
  }
  .td,
  .th {
    display: table-cell;
    width: 50%;
  }
  .caption {
    display: table-caption;
  }
  
  .table,
  .thead,
  .tbody,
  .tfoot,
  .tr,
  .td,
  .th {
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
  .table {
    background: #fff;

    border: none;
    padding: 0;
  }
  
  
  .aa_htmlTable {
    padding: 5rem;
    display: table;
    width: 40px;
    height: 30vh;
    vertical-align: middle;
  }
  

  
